/* Chỉnh sửa giao diện, màu sắc, font chữ,..v..v.. */
a {
  color: rgb(34, 112, 172);
  font-family: 'Roboto', sans-serif;}
.h1{
  color: red;
}
.chu-y {
  color : #0400ff	;
}
.thoi{
  color:#b16baa;
}

