/* Chỉnh sửa giao diện, màu sắc, font chữ,..v..v.. */
a {
  color: rgb(34, 112, 172);
}
.title{
  color: red;
  font-family: 'Lobster', sans-serif;
}
.chu-y {
  font-size: 25%;
  color : #0400ff	;
}
.thoi{
  color:#b16baa;
}
h1{
  font-family: 'Roboto', sans-serif;
}
